a {
  text-decoration: none;
  color: black;
  display: block;
}

a:hover {
	opacity: 0.5 ;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('interia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の帯部分 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 0 0;
}

.item-contents>.title {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 4vh;
  margin: 1vh 0;
  text-decoration: none;
  font-weight: bold;
}

.category-lists {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  background-color: #FFF;
}

.category-lists>.list {
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  padding: 1vw;
  margin: 1vw;
}

.item-lists {
  width: 90vw;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  justify-content: left;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.logo-img {
  width: 5vh;
  height: 5vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}


.item-price {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}

.iine__button{
  background: linear-gradient(to right, #feb400, #FFE300);
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}

/* //商品一覧 */

/*ユーザー一覧*/
.user-lists {
  width: 90vw;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  justify-content: left;
  font-weight: bold;
  background-color: #FFF;
}

.user-lists>.list {
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  padding: 1vw;
  margin: 1vw;
  width: 37vw;
}

/* //ユーザー一覧 */