* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.icon:hover {
  opacity: 0.5;
  transition: 0.1s;
}

.sharelife-icon {
  width: 5vw;
  margin-right: 1vw;
}

.icon-name {
  width: 10vw;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  margin-left: 10vw;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  max-width: 1200px;
}

.lists-left>li {
  max-width: calc(1200px/5);
  position: relative;
  padding: 5px;
  display: block;
}

.left-list {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
  font-weight: bold;
}

.left-list:hover {
  opacity: 0.5;
  transition: 0.1s;
}

.dropdwn_menu {
  width: 230%;
  position: absolute;
  background: rgb(75, 100, 209);
  display: none;
  z-index: 3;
}

.dropdwn_menu li a{
  display: block;
  color: #fff;
  padding:0 1vw;
}

.dropdwn_menu li a:hover {
  background: #b3d7ff;
  color: rgb(65, 65, 65);
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists-right>li:hover {
  opacity: 0.6;
  transition: 0.1s;
}

.user-nickname {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  line-height: 32px;
  color: #3ccace;
  border: 1px solid #DADDDC;
  border-radius: 5px;
  padding: 0 2vw;
  margin-left: 3vw;
}

.guest-login {
  text-decoration: none;
  line-height: 32px;
  color: #fff;
  border: 1px solid #8ec31f;
  border-radius: 5px;
  padding: 0 2vw;
  background-color: #8ec31f;
  margin-right: 1vw;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 1vw;
  color: #3ccace;
  border: 1px solid #DADDDC;
  border-radius: 5px;
  padding: 0 2vw;
}

.sign-up {
  text-decoration: none;
  line-height: 32px;
  color: #FFF;
  border: 1px solid #3ccace;
  border-radius: 5px;
  padding: 0 2vw;
  background-color: #3ccace;
}

.tooltip {
  display: none;
  position: absolute;
  top: 19%;
  right: 26%;
  padding: 5px 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
}
.tooltip:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
