.main {
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

/* ユーザーページ */

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.page-heading {
  font-size: 30px;
}

.user-img-content {
  position: relative;
  margin-right: 2vw;
}

.user-box-img {
  height: 120px;
  width: 120px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  border-radius: 50%;
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user-edit {
  background-color: #FFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0;
  padding: 2vh 7vw;
  white-space: nowrap;
  border-radius: 5px;
}

/* 出品サービス */
.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 0 0;
}

.item-contents>.title {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-user-lists {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-user-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.logo-img {
  width: 5vh;
  height: 5vh;
}

.sold-out {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: center;
  background-color: rgba(255, 0, 51, 0.9);
  padding: 5px;
}

.sold-out>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}


.item-price {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .table{
    width: 100%;
  }
}